<%= form_with(model: candidatura) do |form| %>
  <% if candidatura.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(candidatura.errors.count, "error") %> proibiu que esta candidatura fosse salva:</h2>

      <ul>
        <% candidatura.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :candidato_id, style: "display: block" %>
    <%= form.collection_select :candidato_id, Candidato.all, :id, :nome, prompt: "Selecione um candidato" %>
  </div>

  <div>
    <%= form.label :vaga_id, style: "display: block" %>
    <%= form.collection_select :vaga_id, Vaga.all, :id, :nome, prompt: "Selecione uma vaga" %>
  </div>

  <div>
    <%= form.label :empregador_id, style: "display: block" %>
    <%= form.collection_select :empregador_id, Empregador.all, :id, :nome, prompt: "Selecione um empregador" %>
  </div>

  <div>
    <%= form.label :mensagem, style: "display: block" %>
    <%= form.text_area :mensagem %>
  </div>

  <div>
    <br>
    <button type="submit">Salvar</button>
  </div>
<% end %>
