<p style="color: green"><%= notice %></p>

<%= render @candidatura %>

<div>
  <%= link_to "Editar", edit_candidatura_path(@candidatura) %> |
  <%= link_to "Voltar", candidaturas_path %>

  <%= button_to "Deletar", @candidatura, method: :delete %>
</div>
