<%= form_with(model: vaga) do |form| %>
  <% if vaga.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vaga.errors.count, "error") %> proibiu que essa vaga fosse salva:</h2>

      <ul>
        <% vaga.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :salario, style: "display: block" %>
    <%= form.text_field :salario %>
  </div>

  <div>
    <%= form.label :empregador_id, style: "display: block" %>
    <%= form.collection_select :empregador_id, Empregador.all, :id, :nome, prompt: "Selecione um empregador" %>
  </div>

  <div>
    <br>
    <button type="submit">Salvar</button>
  </div>
<% end %>
