<p style="color: green"><%= notice %></p>

<%= render @vaga %>

<div>
  <%= link_to "Editar", edit_vaga_path(@vaga) %> |
  <%= link_to "Voltar", vagas_path %>

  <%= button_to "Deletar", @vaga, method: :delete %>
</div>
